<header xmlns:th="http://www.thymeleaf.org"
        data-th-fragment="frag-header">

    <nav class="bg-neutral-900 py-5 w-full px-3 rounded-b-lg fixed top-0">
        <div class="grid grid-cols-5 items-center">
            <div class="col-span-2 font-medium text-neutral-200">
            <!-- <span>ENI <br> Encheres</span> -->
            </div>
            <div class="col-span-3 text-end text-sm">
                <a href="login" class="text-neutral-200 me-3">
                    Connexion
                </a>
                <a href="" class="btn bg-lime-200 text-neutral-900 p-2 pb-1.5 font-semibold rounded-sm">
                    Inscription
                </a>
            </div>
        </div>
    </nav>
</header>