<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier article</title>
</head>
<body>
<main>
    <form             data-th-action="@{/create_article}"
                      data-th-object="${ArticleVendu}" >
        <ul>
            <input data-th-field="*{noArticle}" hidden>
            <li>
                <label for="idNom">Article : </label>
                <input id="idNom" type="text" data-th-value="*{nomArticle}" readonly/>
            </li>
            <li>
                <label for="idDescription">Description : </label>
                <input id="idDescription" type="text" data-th-value="*{description}" readonly/>
            </li>
            <li>
                <label for="idCategorie">Description : </label>
                <input id="idCategorie" type="text" data-th-value="*{categorie}" readonly/>
            </li>
            <li>
                <label for="idPhoto"> photo de l'article : </label>
                <input id="idPhoto" type="text" data-th-value="${''}" readonly/>
            </li>
            <li>
                <label for="idDebutEnchere"> Début de l'enchère : </label>
                <input id="idDebutEnchere" type="text" data-th-value="*{dateDebutEncheres}" readonly/>
            </li>
            <li>
                <label for="idFinEnchere"> Fin de l'enchère : </label>
                <input id="idFinEnchere" type="text" data-th-value="*{dateFinEncheres}" readonly/>
            </li>
            <ul>Retrait
                <li>
                    <label for="idRetraitRue"> Rue : </label>
                    <input id="idRetraitRue" type="text" data-th-value="*{lieuRetrait.rue}" readonly/></li>
                <li>
                    <label for="idRetraitCP"> Code Postal : </label>
                    <input id="idRetraitCP" type="text" data-th-value="*{lieuRetrait.codePostal}" readonly/>
                </li>
                <li>
                    <label for="idRetraitVille"> Ville : </label>
                    <input id="idRetraitVille" type="text" data-th-value="*{lieuRetrait.ville}" readonly/>
                </li>
            </ul>

            <li>
                <button type="submit">Enregistrer</button>
            </li>

        </ul>

    </form>

</main>
</body>
</html>